body {
  font-family: "Raleway";
  margin: 0%;
}
.btn,
.try {
  background-color: #4ba87d;
  font-family: "Raleway";
}
.sec{
  margin-top: 17px;
}
.btn{
  width: 150px;
  height: 43px;
  margin-top: 1px
}
.mail{
  margin: -9px -13px;
  width: 115px;
  height: 65px;
}
.underline {
  background-color: #4ba87d;
  height: 5px;
  width: 100px;
  margin: 8px;
}
.footer {
  background-color: #4ba87d;
  height: 366px;
  font-family: "Playfair Display";
  position: relative;
  top: 40px;
}
.btn1 {
  font-family: "Raleway";
  color: #4ba87d;
  position: relative;
  left: 42%;
  top: 40%;
}
.h1 {
  position: relative;
  top: 30%;
}
.brand, .brand1, .brand2, .brand3, .brand4{
  font-family: "Playfair Display";
 
    font-size: xxx-large;
    padding: 10px 0px;
}
.brand4{
  top: 8px;
  left: 284px;
  line-height: 50px;
  position: relative;
  margin: 10px;
  width: 764px;
  text-align: center;
}
.brand{
  top: 54px;
  left: 220px;
  position: relative;
}
.brand1{
  position: relative;
  top: 54px;
  left: 236px;
}
.brand2{
  position: relative;
  top: 178px;
  left: -213px;
}
.para1{
  position: relative;
  top: -260px;
  left: 880px;
  z-index: 1;
  width: 280px;
  height: 70px;
}
.brand3{
  position: relative;
  top: -335px;
  left: 880px;
    z-index: 1;
    width: 450px;
    height: 95px;
    line-height: 50px;

}
.para {
  color: #4ba87d;
  font-family: "Raleway";
  width: 1155px;
  margin: 10px 0px;
}
.try,
.demo,
.learn {
  width: 149px;
  height: 50px;
  margin: 0px 20px;
}
.try, .demo{
  position: relative;
  top: 100px;
  left: 226px;
}
.demo {
  border: 3px solid #4ba87d;
  color: #4ba87d;
  background-color: #fff;
}
.learn {
  color: #4ba87d;
    width: 150px;
    height: 50px;
    position: relative;
    background-color: #fff;
    left: -21px;
    bottom: 138px;
    z-index: 1;
}
.img{
  position: absolute;
  width: 600.36px;
  height: 332.19px;
  left: 553.68px;
  top: 156.09px;
  z-index: -1;
  box-shadow:0px 3px 16px rgba(0, 0, 0, 0.160784)
}
.headPara{
  position: relative;
  top: 66px;
  left: 225px;
}
.sectionTwo{
 background-image: url("../slash_black.png");
 background-repeat: no-repeat;
 background-size: cover;
 object-fit: cover;
 margin-top: 270px;
 width: auto;
}
.bg{
  background-image: url("../image2.png");
  object-fit: cover;
  opacity: 1.02;
    height: 531px;
    mix-blend-mode: normal;
    position: relative;
    left: 200px;
    top: 100px;
    background-repeat: no-repeat;
    z-index: 1;
}
.third{
  background-color: #CAEAC7;
  transform: rotate(-9deg);
  margin: -90px;
  height: 751px;
  z-index: -1;
  position: relative;
    top: 68px;
}
.pic{
  z-index: -1;
}
.pics{
  margin-top: 38px;
}
.card, .card1{
  transform: rotate(9deg);
  position: relative;
  top: 55px;
  left: 198px;
  width: 319px;
  height: 443px;
}
.card1{
  
  top: 197px;
  
}
.h4, .p{
position: relative;
    top: -68px;
    padding: 0px 28px;
}

@media (max-width: 640px){
  .brand{
    text-align: left;
    position: relative;
    left: 31px;
    top: -27px;
  }
  .brand1{
    text-align: left;
    position: relative;
    left: 40px;
    top: -27px;
    width: 100px;
    line-height: 50px;
  }
  .img{
    position: relative;
    left: -350px;
    top: 40px;
    height: 250px;
  }
  .headPara{
    position: relative;
    top: 120px;
    left: 29px;
    font-weight: 500;
    font-size: larger;
    text-align:justify;
  }
  .button{
    display: flex;
    position: relative;
    left: -170px;
    top: 40px;
    justify-content: space-around;
  }
  .bg{
    opacity: 1.02;
    height: 531px;
    position: relative;
    left: 12px;
    top: -50px;
    z-index: 1;
    width: 454px
  }
  .brand2{
    position: relative;
    left: 1px;
    text-align: center;
    font-size: xx-large;
  }
  .learn{
    left: 5px;
    bottom: 335px;
    z-index: 1;
  }
  .card, .card1 {
    transform: rotate(9deg);
    position: relative;
    top: -74px;
    left: 107px;
    width: 319px;
    height: 443px;
}
.brand3{
  left: 63px;
    z-index: 1;
    width: 450px;
    height: 95px;
    line-height: 50px;
    top: 353px;
    position: relative;
}
.para1{
  position: relative;
    top: 433px;
    left: 74px;
    z-index: 1;
    width: 280px;
    height: 70px;
}
.pics{
  display: block;
  margin: 72px;
  position: relative;
  top: 450px;
}
.brand4{
  top: 382px;
    left: 18px;
    position: relative;
    width: 428px;
}
.input{
  position: relative;
  top: 384px;
  left: 130px;
  padding: 10px;
}
.btn2{
  position: relative;
  top: 474px;
  left: -13%;
}
.inp{
  display: block;
}
.para{
  position: relative;
  top: 380px;
  left: -327px;
}
.card1{
    top: 440px;
    left: -150px;
}
.third{
  position: relative;
  top: 100px
  }
  .footer{
    position: relative;
    top: 430px;
  }
  .i{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 90px;
  }
  .btn1{
    position: relative;
    left: 27%;
    top: 40%;
  }
  .brand5{
    position: relative;
    top: 450px;
    line-height: 45px;
  }
  .img1{
    height: 50px;
    width: 200px;
    margin: 50px 0px 0px 0px;
    position: relative;
    left: -10px;
    top: 400px;
  }
  
  .ninjaFont, .mailed{
    position: relative;
    top: 405px;
    left: -62px;
}
.mailed{
  width: 100px;
  height: 60px;
  margin: -6px -18px 9px 49px;}
.mail1{
  margin: 10px;
}
  .links{
    position: relative;
    top: 450px;
    left: -200px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 20px;
  }
  .hr{
    margin-top: 500px;
    width: 470px;
    position: relative;
    left: -120px
  }
  .footP{
    width: 620px;
    text-align: center;
  }
  .pri{
    position: relative;
    top: 130px;
    left: -324px;
    width: 200px;
  }
  .terms{
    position: relative;
    top: 80px;
    left: -240px;
  }
  .mail{
    margin: -2px;
  }

}